.window-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.close-btn  {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6D5D6E;
    color: aliceblue;
    width: 40px;
    height: 40px;
}

.wl-btn {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #6D5D6E;
    color: aliceblue;
    height: 40px;
    font-size: 16px
}

.wl-btn:hover {
    background-color: #6d5d6ed7;
    cursor: pointer;
}

.wl-btn:disabled {
    background-color: #6d5d6e90;
}

.wl-btn:disabled:hover {
    background-color: #6d5d6e90;
    cursor: default;
}

.window-content {
    position: relative;
    background-color: white;
    border-radius: 4px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: left;
}

.info-sec {
    margin-top: 10px;
}

.info-type-detail {
    display: inline-block;
    width: 130px;
}