.nav-bar {
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: #393646;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar li {
    padding: 10px 20px;
}

.nav-bar li:hover {
    background-color: #4F4557;
}

.nav-bar a {
    color: aliceblue;
    text-decoration: none;
}

.nav-btn {
    display: none;
}

@media (max-width: 850px) {
    .nav-btn {
        display: block;
    }
    
    .close {
        display: none;
    }

    .open {
        display: block;
    }
}