.nav-bar {
    list-style: none;
    display: flex;
    gap: 20px;
    background-color: #393646;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar li {
    padding: 10px 20px;
}

.nav-bar li:hover {
    background-color: #4F4557;
}

.nav-bar a {
    color: aliceblue;
    text-decoration: none;
}

.nav-btn {
    display: none;
}

@media (max-width: 850px) {
    .nav-btn {
        display: block;
        position: fixed;
        right: 5px;
        top: 5px;
        height: 40px;
        width: 40px;
        font-size: 16px;
        border: none;
        background-color: #393646;
        color: aliceblue;
        font-size: 20px;
    }

    .nav-bar {
        position: fixed;
        top: 5px;
        right: 45px;
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .close {
        display: none;
    }

    .open {
        display: block;
    }
}